{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Buku</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}" />
  </head>

  <body>
    <img id="banner" src="{% static 'buku/img/crud.jpg' %}" />
    <div id="Menu">
      <ul>
        <li><a href="/" class="">Home</a></li>
        <li><a href="/about" class="">About</a></li>
        <li><a href="/buku" class="">Buku</a></li>
        <li><a href="/tamus" class="">Buku Tamu</a></li>
      </ul>
    </div>

    <h2>Disini seharusnya ada list buku</h2>
    <!-- LOOPING ISI DB -->
    <div class="container">
      {% for penampungpost in Tampungpostingan %}
      <h3>{{penampungpost.judul}}</h3>
      <p>{{penampungpost.sinopsis}}</p>
      {% endfor %}
    </div>
    <!-- LOOPING ISI DB -->

    <!-- FOOTER  -->
    <footer class="footer">
      <div class="container">
        <span class="text-light">Copyright 2022</span>
      </div>
    </footer>

    <!-- link js -->
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
  </body>
</html>
